# Neon PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/neondb?sslmode=require"

# NextAuth (обязательно в проде)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# Сгенерировать секрет: openssl rand -base64 32
